@import "tailwindcss";

@layer base {
  img, svg {
    display: inline-block;
    vertical-align: middle;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

